<% layout('layouts/boilerplate') %> 

<style>
    .pengaturans {
        margin-top: 80px;
    }
</style>

<section class="pengaturans">
    <div class="pengaturan container container--px">
        <div class="pengaturan__intro">
            <h1>Pengaturan</h1>
        </div>

        <div class="pengaturan__grid">
            <div class="pengaturan__card">
                <div class="pengaturan__isi">
                    <form class="pengaturan__form" action="" method="POST" novalidate class="validated-form">
                        <div class="judul">
                            <h3>Akun</h3>
                            <hr>
                        </div>
                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Nama Lengkap</label>
                            <input class="" type="text" id="nama" class="pengaturan__input" value="<%= user.nama %> " required>
                        </div>
                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Username</label>
                            <label class="mb-3 deskripsi" for="description">Username akan muncul di alamat FibonacciKu kamu.
                                https://www.fibonacciku.com/fibo/</label>
                            <input class="" type="text" id="username" class="pengaturan__input" value="<%= user.username %> ">
                        </div>
                            
                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Email</label>
                            <input class="" type="email" id="email" class="pengaturan__input" value="<%= user.email %> ">
                        </div>
        
                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Bio</label>
                            <textarea class="" type="text" id="bio" cols="0" rows="4" maxlength="128" class="pengaturan__input" ></textarea>
                        </div>

                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Instagram</label>
                            <label class="mb-3 deskripsi" for="description">Username saja tanpa @</label>
                            <input class="" type="text" id="email" class="pengaturan__input" value="<%= user.link.instagram %> ">
                        </div>

                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Github</label>
                            <label class="mb-3 deskripsi" for="description">Username saja</label>
                            <input class="" type="text" id="email" class="pengaturan__input" value="<%= user.link.github %> ">
                        </div>

                        <div class="pengaturan__konten">
                            <label for="" class="pengaturan__label form-label">Twitter</label>
                            <label class="mb-3 deskripsi" for="description">Username saja tanpa @</label>
                            <input class="" type="text" id="email" class="pengaturan__input" value="<%= user.link.twitter %> ">
                        </div>
            
                        <div>
                            <button type="submit">
                                Simpan
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="pengaturan__card">
                <div class="pengaturan__isi">
                    <form class="pengaturan__form" action="" method="POST" name="theform" novalidate class="validated-form">
                        <div class="judul">
                            <h3>Password</h3>
                            <hr>
                        </div>
                        <div class="keterangan">
                            <p>Membuat password membuat kamu dapat masuk dengan username dan password Fibonacciku kamu.</p>
                        </div>
                        <% if(user.password) { %> 
                        <div class="pengaturan__konten">
                            <label for="password" class="pengaturan__label form-label">Password Lama</label>
                            <input class="password-input form-control" type="password" id="password" class="pengaturan__input" required>
                            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                            <div class="invalid-feedback">
                                Masukkan password lama
                            </div>
                        </div>
                        <% } %> 
                        <div class="pengaturan__konten">
                            <label for="password" class="pengaturan__label form-label">Password Baru</label>
                            <input class="password-input form-control" type="password" id="password" class="pengaturan__input" minlength="8" required>
                            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                            <div class="invalid-feedback">
                                Masukkan password baru min.8 karakter
                            </div>
                        </div>
                        <div class="pengaturan__konten">
                            <label for="confirm" class="pengaturan__label form-label">Konfirmasi Password</label>
                            <input class="password-input form-control" type="password" id="confirm" class="pengaturan__input" required>
                            <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                            <div id="validation-message"></div>
                            <div class="invalid-feedback">
                                Masukkan konfirmasi password
                            </div>
                        </div>

                        <div>
                            <button class="form-group" type="submit">
                                Buat Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/profil/pengaturan.js" async></script>

<script async>
    document.title = 'Pengaturan | FibonacciKu'
</script>

<script type="text/javascript" language="javascript" async>
    //password show/hide button
    const passwordInput = document.querySelector(".password-input");
    const eyeBtn = document.querySelector(".eye-btn");

    eyeBtn.addEventListener("click", (e) => {
        if(passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeBtn.innerHTML = "<i class='uil uil-eye'></i>"
        }
        else {
            passwordInput.type = "password";
            eyeBtn.innerHTML = "<i class='uil uil-eye-slash'></i>"
        }
    });
</script> 