<% layout('layouts/boilerplate') %> 

<style>
    .mata-pelajaran {
        background-color: rgb(255, 248, 243);
        margin-top: 65px;
    }

    .persiapan-ujian {
        background-color: rgb(255, 227, 227);
    }
</style>

<section class="mata-pelajaran">
    <div class="pelajaran container container--pall">
        
        <div class="pelajaran__intro">
            <h2>Pilih Pelajaran Sesuka Kamu!</h2>
        </div>
    
        <div class="pelajaran__grid">
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/mtk-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Matematika 
                    </div>
                    <% for (let pelajaran of MTK) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%> 
                </div>
    
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/fisika-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Fisika
                    </div>
                    <% for (let pelajaran of Fisika) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%> 
                </div>
    
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/cs-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Informatika
                    </div>
                    <% for (let pelajaran of Informatika) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%>
                </div>
    
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/bio-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Biologi
                    </div>
                    <% for (let pelajaran of Biologi) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%>
                </div>
    
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/kimia-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Kimia
                    </div>
                    <% for (let pelajaran of Kimia) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%>
                </div>
    
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="/img/icon/kecerdasanbuatan-icon.png">
                    </div>
    
                    <div class="pelajaran__title">
                        Kecerdasan Buatan
                    </div>
                    <% for (let pelajaran of AI) {%> 
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                    <%  }%>
                </div>
        </div>

    </div>
</section>

<section class="persiapan-ujian"> 
    <div class="ujian container container--pall">

        <div class="ujian__intro">
            <h2>Belajar Persiapan Ujian!</h2>
        </div>

        <div class="ujian__grid">
            <div class="ujian__card">
                <div class="ujian__icon">
                    <img src="/img/icon/utbk-icon.png">
                </div>

                <div class="ujian__title">
                    UTBK/SBMPTN
                </div>
                <% for (let pelajaran of UTBK) {%> 
                <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                    Belajar Disini!
                </a>
                <%  }%>
            </div>

            <div class="ujian__card">
                <div class="ujian__icon">
                    <img src="/img/icon/anp-icon.png">
                </div>

                <div class="ujian__title">
                    Aufnahmeprüfung
                </div>
                <% for (let pelajaran of ANP) {%> 
                <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                    Belajar Disini!
                </a>
                <%  }%>
            </div>
        </div>

    </div>
</section>