<% layout('layouts/boilerplate') %> 

<style>
    .mata-pelajaran {
        background-color: rgb(255, 248, 243);
        margin-top: 65px;
    }

    .persiapan-ujian {
        background-color: rgb(255, 227, 227);
    }
</style>

<section class="mata-pelajaran">
    <div class="pelajaran container container--pall">
        
        <div class="pelajaran__intro">
            <h2>Pilih Pelajaran Sesuka Kamu!</h2>
        </div>
    
        <div class="pelajaran__grid">

            <% for (let pelajaran of pelajarans) {%>
                <div class="pelajaran__card">
                    <div class="pelajaran__icon">
                        <img src="<%= pelajaran.icon %> ">
                    </div>
    
                    <div class="pelajaran__title">
                        <%= pelajaran.pelajaran %> 
                    </div>
        
                    <a class="button" href="mata-pelajaran/<%= pelajaran.query %>">
                        Belajar Disini!
                    </a>
                </div>
            <%  }%>

        </div>

    </div>
</section>

<section class="persiapan-ujian"> 
    <div class="ujian container container--pall">

        <div class="ujian__intro">
            <h2>Belajar Persiapan Ujian!</h2>
        </div>

        <div class="ujian__grid">

            <% for (let ujian of ujians) {%>
                <div class="ujian__card">
                    <div class="ujian__icon">
                        <img src="<%= ujian.icon %> ">
                    </div>
    
                    <div class="ujian__title">
                        <%= ujian.pelajaran %> 
                    </div>
                    
                    <a class="button" href="mata-pelajaran/<%= ujian.query %>">
                        Belajar Disini!
                    </a>
                
                </div>
            <%  }%>

        </div>

    </div>
</section>

<script>
    document.title = "Mata Pelajaran";
</script>