<% layout('layouts/boilerplate') %>

<style>
    .shows-pelajaran {
        margin-top: 80px;
    }
</style>

<section class="shows-pelajaran">
    <div class="shows">
        <div class="shows__header">
            <div class="container">
                <div class="shows__pelajaran">
                    <img src="<%= pelajaran.icon %>" alt="logo <%= pelajaran.pelajaran %>">
                    <div class="header__belajar">
                        <a href="/mata-pelajaran">
                            <h3>Mata Pelajaran</h3>
                        </a>
                        <h1><%= pelajaran.pelajaran %> </h1>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="container container--px">
            <div class="shows__grid">
                <% for (let bab of babs) {%>
                <div class="shows__card">
                    <div class="shows__icon">
                        <a href="<%= pelajaran.query %>/<%= bab.querybab %>">
                            <img src="<%= bab.icon %>" alt="logo <%= bab.bab %>">
                        </a>
                    </div>
    
                    <a href="<%= pelajaran.query %>/<%= bab.querybab %>" class="shows__bab">
                        <h3>
                            <%= bab.bab %> 
                        </h3>
                    </a>
                </div>
                <%  }%>
            </div>
        </div>

    </div>
</section>

<script async>
    document.title = "<%= pelajaran.pelajaran %> | FibonacciKu";
</script>